<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Ini Adalah Home Page</h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus alias quaerat ipsum dolorum commodi tempore quo sequi voluptatem ullam perferendis dicta officia accusamus non magni dolor, veniam dolorem, id repellendus.
  </p>
</body>
</html>