<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kucing</title>
  </head>
  <body>
    <h1>Halaman Kucing</h1>
    <ul>
      <% for(let kucing of kucings) { %>
        <li><%= kucing %></li>
      <% } %>
    </ul>

  </body>
</html>